Source: eclipse-jee-installer
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: eclipse-jee-installer
Architecture: all
Depends: ${misc:Depends}, eclipse-juno-installer
Description: generic eclipse JEE metapackage
 This package will always depend on the aurex recommended version of
 the eclipse JEE

Package: eclipse-juno-installer
Architecture: all
Depends: ${misc:Depends}, eclipse-juno-sr2, eclipse-juno-cdt-installer
Provides: eclipse-jee
Description: eclipse juno metapackage
 This package will always depend on the latest eclipse juno version

Package: eclipse-juno-sr2
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer
Description: eclipse juno 4.2 loader package for aurex
 This package downloads and installs eclipse juno 4.2 SR2 JEE

Package: eclipse-juno-cdt-installer
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer, eclipse-juno-sr2
Description: eclipse juno CDT loader package for aurex
 This package downloads and installs CDT (C/C++ Development Tooling)
 for eclipse juno

Package: eclipse-kepler-installer
Architecture: all
Depends: ${misc:Depends}, eclipse-kepler, eclipse-kepler-installer
Provides: eclipse-jee
Description: eclipse juno metapackage
 This package will always depend on the latest eclipse kepler version

Package: eclipse-kepler
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer
Description: eclipse kepler 4.3 loader package for aurex
 This package downloads and installs eclipse juno kepler R JEE

Package: eclipse-kepler-cdt-installer
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer, eclipse-juno-sr2
Description: eclipse juno CDT loader package for aurex
 This package downloads and installs CDT (C/C++ Development Tooling)
 for eclipse kepler
