Source: eclipse-jee-installer
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.8.4

Package: eclipse-jee-installer
Architecture: all
Depends: ${misc:Depends}, eclipse-neon-installer
Description: generic eclipse JEE metapackage
 This package will always depend on the aurex recommended version of
 the eclipse JEE

Package: eclipse-adt-plugin
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, unzip, android-sdk|android-sdk-installer, eclipse-jee-installer | eclipse-jee
Description: eclipse ADT plugin loader package for aurex
 This package downloads and installs eclipse ADT plugin

Package: eclipse-juno-installer
Architecture: all
Depends: ${misc:Depends}, eclipse-juno-sr2-base, eclipse-juno-cdt
Provides: eclipse-jee
Description: eclipse juno metapackage
 This package will always depend on the latest eclipse juno version

Package: eclipse-juno-sr2-base
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer|oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, yad
Description: eclipse juno 4.2 loader package for aurex
 This package downloads and installs eclipse juno 4.2 SR2 JEE

Package: eclipse-juno-cdt
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer|oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, unzip, eclipse-juno-sr2-base
Description: eclipse juno CDT loader package for aurex
 This package downloads and installs CDT (C/C++ Development Tooling)
 for eclipse juno

Package: eclipse-kepler-installer
Architecture: all
Depends: ${misc:Depends}, eclipse-kepler-base, eclipse-kepler-cdt
Provides: eclipse-jee
Description: eclipse juno metapackage
 This package will always depend on the latest eclipse kepler version

Package: eclipse-kepler-base
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer|oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, yad
Description: eclipse kepler 4.3 loader package for aurex
 This package downloads and installs eclipse juno kepler R JEE

Package: eclipse-kepler-cdt
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java7-installer|oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, unzip, eclipse-kepler-base
Description: eclipse juno CDT loader package for aurex
 This package downloads and installs CDT (C/C++ Development Tooling)
 for eclipse kepler

Package: eclipse-luna-installer
Architecture: all
Depends: ${misc:Depends}, eclipse-luna-base
Provides: eclipse-jee
Description: eclipse luna metapackage
 This package will always depend on the latest eclipse luna version

Package: eclipse-luna-base
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, yad
Description: eclipse luna 4.4 loader package for aurex
 This package downloads and installs eclipse juno luna R JEE

Package: eclipse-luna-cdt
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, unzip, eclipse-luna-base
Description: eclipse luna CDT loader package for aurex
 This package downloads and installs CDT (C/C++ Development Tooling)
 for eclipse luna

Package: eclipse-neon-installer
Architecture: all
Depends: ${misc:Depends}, eclipse-neon-1rc3-base
Provides: eclipse-jee
Description: eclipse neon metapackage
 This package will always depend on the latest eclipse neon version

Package: eclipse-neon-1rc3-base
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, yad
Description: eclipse neon 1.rc3 loader package for aurex
 This package downloads and installs eclipse juno luna R JEE

Package: eclipse-neon-1rc3-cdt
Architecture: all
Depends: ${misc:Depends}, aurex-cache, oracle-java8-installer|oracle-java9-installer|oracle-java10-installer, unzip, eclipse-neon-1rc3-base
Description: eclipse neon 1.rc3 CDT loader package for aurex
 This package downloads and installs CDT (C/C++ Development Tooling)
 for eclipse neon 1.rc3
